* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.allh, h2, h3 {
  color: #3b8686;
  border-width: 1px;
  border-bottom-style: solid;
  border-color: #79bd9a;
  padding-bottom: 0.2em;
  margin: 0em;
  margin-bottom: 0.3em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.5em; }

a:link {
  color: #A8DBA8;
  text-decoration: none; }

a:visited {
  color: #A8DBA8;
  text-decoration: none; }

a:hover {
  color: #A8DBA8;
  text-decoration: none; }

a:active {
  color: #A8DBA8;
  text-decoration: none; }

html, body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  background-color: #FFF;
  color: #000;
  height: auto;
  width: auto; }

.navigation {
  width: 100%;
  margin: 0px;
  height: 60px;
  background-color: black;
  background-image: -webkit-linear-gradient(black, #444444);
  background-image: linear-gradient(black, #444444);
  border-bottom: 2px solid #57ac80; }
  .navigation p {
    font-family: sans-serif;
    color: white;
    font-size: 1.5em;
    padding-top: 15px;
    margin: 0em; }
  .navigation .logohead {
    text-align: left;
    float: left;
    width: 30%;
    padding-left: 2em; }
  .navigation #menutop {
    padding-top: 19.35484px;
    float: right;
    text-align: right;
    width: 70%;
    display: inline; }
    .navigation #menutop a {
      font-size: 1em;
      color: rgba(207, 240, 158, 0.4);
      padding-right: 2em; }
      .navigation #menutop a:hover {
        color: #cff09e; }

.hero {
  background: url(img/img1.jpg);
  background-color: #111111;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  padding-bottom: 4em;
  border-bottom: 2px solid #57ac80;
  height: 20em;
  z-index: -1; }
  .hero .hero-inner {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
    margin: auto;
    text-align: left;
    color: white; }
    .hero .hero-inner:after {
      content: "";
      display: table;
      clear: both; }
    .hero .hero-inner:after {
      content: "";
      display: table;
      clear: both; }
    .hero .hero-inner button {
      border: 1px solid #021d2c;
      border-radius: 3px;
      box-shadow: inset 0 1px 0 0 #1a75a9;
      color: white;
      display: inline-block;
      font-size: inherit;
      font-weight: bold;
      background-color: #0b486b;
      background-image: -webkit-linear-gradient(#0b486b, #03273b);
      background-image: linear-gradient(#0b486b, #03273b);
      padding: 7px 18px;
      text-decoration: none;
      text-shadow: 0 1px 0 #00111a;
      background-clip: padding-box;
      font-size: 2em;
      outline: none; }
      .hero .hero-inner button:hover:not(:disabled) {
        box-shadow: inset 0 1px 0 0 #12567d;
        cursor: pointer;
        background-color: #0a3852;
        background-image: -webkit-linear-gradient(#0a3852, #021d2c);
        background-image: linear-gradient(#0a3852, #021d2c); }
      .hero .hero-inner button:active:not(:disabled), .hero .hero-inner button:focus:not(:disabled) {
        border: 1px solid #021d2c;
        box-shadow: inset 0 0 8px 4px #02131d, inset 0 0 8px 4px #02131d; }
      .hero .hero-inner button:disabled {
        opacity: 0.5;
        cursor: not-allowed; }
    .hero .hero-inner .hero-copy {
      text-align: center; }
      .hero .hero-inner .hero-copy h1 {
        margin-bottom: .2em;
        text-shadow: 2px 2px 5px #000; }
        @media screen and (min-width: 767px) {
          .hero .hero-inner .hero-copy h1 {
            font-size: 4em; } }

.maincontent {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%;
  margin-left: 12.79471%;
  height: auto;
  background-color: #FFF;
  margin-top: 1em;
  margin-bottom: 1em; }
  .maincontent:last-child {
    margin-right: 0; }
  .maincontent a:link {
    color: #0B486B;
    text-decoration: none; }
  .maincontent a:visited {
    color: #0B486B;
    text-decoration: none; }
  .maincontent a:hover {
    color: #0B486B;
    text-decoration: none; }
  .maincontent a:active {
    color: #0B486B;
    text-decoration: none; }

.searchbox {
  height: auto;
  position: absolute;
  border-radius: 2em;
  border: 0.1px solid #FFF;
  width: 70%;
  background-color: rgba(255, 255, 255, 0.7);
  margin-top: 3em;
  border-radius: 5px;
  z-index: 10;
  margin-right: 15%;
  margin-left: 15%;
  top: 7em; }
  .searchbox h1 {
    margin-top: 0.5em;
    text-align: center;
    font-family: sans-serif;
    font-size: 2em;
    color: #79BD9A;
    text-shadow: 1px 1px 2px #000; }
  .searchbox div.searchtools {
    text-align: center;
    height: auto;
    padding-bottom: 2em;
    width: 100%; }
    .searchbox div.searchtools form {
      height: auto; }
      .searchbox div.searchtools form input, .searchbox div.searchtools form select {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: inline;
        background-color: #FFF;
        border-radius: 4px;
        border: 1px solid #FFF;
        color: #000; }
      .searchbox div.searchtools form select {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
        padding: 0em 0.8em 0em 0.4em;
        border: 1px solid rgba(0, 0, 0, 0.3);
        font-style: italic;
        height: 20px;
        width: 8em;
        -moz-appearance: none;
        -webkit-appearance: none;
        -ms-appearance: none;
        text-indent: 0.01px;
        text-overflow: ''; }
      .searchbox div.searchtools form select::-ms-expand {
        display: none; }
      .searchbox div.searchtools form select::-moz-expand {
        display: none; }
      .searchbox div.searchtools form select::-webkit-expand {
        display: none; }
      .searchbox div.searchtools form input[type=text], .searchbox div.searchtools form select[type=text] {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
        padding: 0em 0.8em 0em 0.4em;
        font-size: .8em;
        font-style: italic;
        height: 20px;
        border: 1px solid rgba(0, 0, 0, 0.3); }
      .searchbox div.searchtools form input[type=submit], .searchbox div.searchtools form select[type=submit] {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
        padding: 0em 0.8em 0em 0.4em;
        font-size: .8em;
        font-style: italic;
        height: 20px;
        border-width: 1px;
        border-color: rgba(0, 0, 0, 0.3); }
    .searchbox div.searchtools p {
      margin: 0em;
      display: inline;
      padding-right: 0.2em;
      padding-left: 0.2em;
      color: #000; }
      @media screen and (min-width: 767px) {
        .searchbox div.searchtools p {
          font-size: 1em; } }

.content1 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .content1:last-child {
    margin-right: 0; }
  .content1 #imgleftside {
    width: 100%;
    margin: 0 0 0 0;
    -webkit-max-width: 100%;
    -moz-max-width: 100%;
    -ms-max-width: 100%; }
    .content1 #imgleftside #imgap1 img {
      max-width: 100%;
      -webkit-max-width: 100%;
      -moz-max-width: 100%;
      -ms-max-width: 100%; }
    .content1 #imgleftside #imgap2 img {
      max-width: 100%;
      -webkit-max-width: 100%;
      -moz-max-width: 100%;
      -ms-max-width: 100%; }
    .content1 #imgleftside #imgap3 img {
      max-width: 100%;
      -webkit-max-width: 100%;
      -moz-max-width: 100%;
      -ms-max-width: 100%; }
  .content1 .content13 {
    width: 100%;
    height: 30em;
    border-radius: 5px;
    border: 1px solid #79bd9a;
    overflow: scroll;
    scroll: hidden;
    -webkit-scroll: hidden; }
    .content1 .content13 .smallbox_detail {
      margin: 0.5em 5% 0.5em 5%;
      width: 90%;
      height: auto;
      float: left;
      font-size: 0.8em;
      color: rgba(0, 0, 0, 0.8);
      border-bottom: 1px dotted #79bd9a; }
      .content1 .content13 .smallbox_detail h1 {
        color: #000;
        font-size: 1.2em; }
      .content1 .content13 .smallbox_detail p {
        color: rgba(0, 0, 0, 0.8);
        font-size: 0.8em; }
      .content1 .content13 .smallbox_detail img {
        width: 80%;
        margin: 0 10% 0 10%;
        height: auto; }

.content2 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin: 0em;
  height: auto; }
  .content2:last-child {
    margin-right: 0; }
  .content2 #tbrshow {
    height: 20em;
    overflow: scroll; }
    .content2 #tbrshow tr td {
      border-bottom-style: solid;
      border-width: 1px;
      border-color: #79bd9a;
      white-space: normal; }

.content3 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .content3:last-child {
    margin-right: 0; }

.adscenter {
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

#sponsorcontent {
  width: 80%;
  height: auto;
  margin-left: 10%;
  margin-right: 10%;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-color: #000;
  vertical-align: top;
  margin-bottom: 0.5em; }
  #sponsorcontent img {
    width: 4em;
    position: center; }
  #sponsorcontent tr td {
    padding-left: 0.5em;
    padding-bottom: 0.3em;
    padding-top: 0.3em; }
  #sponsorcontent p {
    margin: 0em;
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.7); }

.footer-2 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  border-top: 2px solid #57ac80;
  background-color: #444444;
  background-image: -webkit-linear-gradient(#444444, black);
  background-image: linear-gradient(#444444, black);
  padding: 0.1em;
  width: 100%; }
  .footer-2:last-child {
    margin-right: 0; }
  .footer-2 .footer-logo {
    margin-top: 0.6em;
    margin-left: 0.5em; }
    @media screen and (min-width: 767px) {
      .footer-2 .footer-logo {
        float: left;
        margin-bottom: 0em; } }
  .footer-2 .footer-logo img {
    height: 2em; }
  .footer-2 ul {
    margin-bottom: 10em; }
    @media screen and (min-width: 767px) {
      .footer-2 ul {
        float: left;
        margin-left: 1em;
        margin-bottom: 1em; } }
  .footer-2 ul li {
    padding-right: 1em;
    font-weight: 800; }
    @media screen and (min-width: 767px) {
      .footer-2 ul li {
        display: inline;
        text-align: left; } }
  .footer-2 ul li a {
    color: rgba(207, 240, 158, 0.4); }
    .footer-2 ul li a:hover {
      color: #cff09e; }
  @media screen and (min-width: 767px) {
    .footer-2 .footer-secondary-links {
      float: right; } }
  .footer-2 .footer-secondary-links li {
    font-size: .8em;
    font-weight: 400; }
  .footer-2 .footer-secondary-links ul.footer-social {
    margin-top: 1em; }
    @media screen and (min-width: 767px) {
      .footer-2 .footer-secondary-links ul.footer-social {
        float: right;
        margin-top: 1em;
        margin-right: 0.5em; } }
    .footer-2 .footer-secondary-links ul.footer-social li {
      float: left;
      font-size: 1em;
      padding-right: .7em; }
      .footer-2 .footer-secondary-links ul.footer-social li:last-child {
        padding-right: 0; }
    .footer-2 .footer-secondary-links ul.footer-social img {
      opacity: .7;
      height: 1.6em;
      padding: 1px; }
      .footer-2 .footer-secondary-links ul.footer-social img:hover {
        opacity: 1; }

#underline {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  height: 1px;
  width: 100%;
  border-width: 1px;
  border-bottom-style: solid;
  border-color: #79bd9a;
  margin-top: 0.3em;
  margin-bottom: 0.3em; }

.menubar {
  width: 100%;
  z-index: 9999;
  position: absolute;
  top: 60px;
  height: 6em; }
  .menubar .loginfrm {
    visibility: hidden;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #FFF;
    background-color: rgba(255, 255, 255, 0.3);
    display: inline;
    float: right;
    text-align: center;
    width: auto; }
    .menubar .loginfrm form {
      margin: 0.4em; }
    .menubar .loginfrm input, .menubar .loginfrm .searchbox div.searchtools form select, .searchbox div.searchtools form .menubar .loginfrm select {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      background-color: rgba(255, 255, 255, 0.8);
      height: 100%;
      width: 100%;
      border-radius: 4px;
      border-width: 1px;
      border-style: solid;
      border-color: #79BD9A;
      color: #000; }
    .menubar .loginfrm input[type=text], .menubar .loginfrm .searchbox div.searchtools form select[type=text], .searchbox div.searchtools form .menubar .loginfrm select[type=text] {
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      -o-appearance: none;
      appearance: none;
      width: 10em;
      padding: .2em .8em;
      font-size: .9em;
      font-style: italic;
      margin-right: 1em;
      height: 100%; }
    .menubar .loginfrm input[type=password], .menubar .loginfrm .searchbox div.searchtools form select[type=password], .searchbox div.searchtools form .menubar .loginfrm select[type=password] {
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      -o-appearance: none;
      appearance: none;
      width: 10em;
      height: 100%;
      padding: .2em .8em;
      font-size: .9em;
      font-style: italic;
      margin-right: 1em; }
    .menubar .loginfrm input[type=submit], .menubar .loginfrm .searchbox div.searchtools form select[type=submit], .searchbox div.searchtools form .menubar .loginfrm select[type=submit] {
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      -o-appearance: none;
      appearance: none;
      border: 1px solid #86cfa9;
      border-radius: 3px;
      box-shadow: inset 0 1px 0 0 #f1f7f4;
      color: #333333;
      display: inline-block;
      font-size: inherit;
      font-weight: bold;
      background-color: #bddfce;
      background-image: -webkit-linear-gradient(#bddfce, #91d3b1);
      background-image: linear-gradient(#bddfce, #91d3b1);
      padding: 7px 18px;
      text-decoration: none;
      text-shadow: 0 1px 0 #c7e9d8;
      background-clip: padding-box;
      outline: none;
      padding: 5px 10px;
      width: 6em;
      height: 100%; }
      .menubar .loginfrm input[type=submit]:hover:not(:disabled), .menubar .loginfrm .searchbox div.searchtools form select[type=submit]:hover:not(:disabled), .searchbox div.searchtools form .menubar .loginfrm select[type=submit]:hover:not(:disabled) {
        box-shadow: inset 0 1px 0 0 #d1e5da;
        cursor: pointer;
        background-color: #afd4c1;
        background-image: -webkit-linear-gradient(#afd4c1, #87cea9);
        background-image: linear-gradient(#afd4c1, #87cea9); }
      .menubar .loginfrm input[type=submit]:active:not(:disabled), .menubar .loginfrm .searchbox div.searchtools form select[type=submit]:active:not(:disabled), .searchbox div.searchtools form .menubar .loginfrm select[type=submit]:active:not(:disabled), .menubar .loginfrm input[type=submit]:focus:not(:disabled), .menubar .loginfrm .searchbox div.searchtools form select[type=submit]:focus:not(:disabled), .searchbox div.searchtools form .menubar .loginfrm select[type=submit]:focus:not(:disabled) {
        border: 1px solid #86cfa9;
        box-shadow: inset 0 0 8px 4px #7dc9a2, inset 0 0 8px 4px #7dc9a2; }
      .menubar .loginfrm input[type=submit]:disabled, .menubar .loginfrm .searchbox div.searchtools form select[type=submit]:disabled, .searchbox div.searchtools form .menubar .loginfrm select[type=submit]:disabled {
        opacity: 0.5;
        cursor: not-allowed; }

.auto_map {
  height: 28.4em; }

.hover {
  color: rgba(0, 0, 0, 0.7); }
