<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<!-- TemplateBeginEditable name="doctitle" -->
<title>POS prototype Page</title>
<!-- TemplateEndEditable -->
<link  href="../css/style.css" rel="stylesheet" type="text/css"><link rel="stylesheet" type="text/css" href="../css/info.css">

<!-- TemplateBeginEditable name="head" -->
<!-- TemplateEndEditable -->
</head>
<body>
  <!--menubar header-->
  <div class="navigation">
   <div class="logohead">
   <p><a href="../index.html" target="_self">Worldresiden.net</a></p>
   </div><div id="menutop"><a href="index.html">Home</a>
   <a href="apartment_list.html?page=1">List</a>
   <a href="aboutme.html">About me</a>
   <a href="contactme.html">Contect me</a>
   <a href="faq.html">FAQ</a>
   <a id="loginopen">Login</a></div>
   
    
  </div>
  <div class="menubar">
   <div class="loginfrm">
    <form name="form2" method="post" action="">
      <input type="text" name="username_txt" id="username_txt" placeholder="Username :">
      <input type="password" name="password_txt" id="password_txt" placeholder="Password :">
      <input type="submit" name="submit_btn" id="submit_btn" value="Login">
    </form>
    </div></div>
  <!--img header-->
  <div class="hero">
  <div class="hero-inner">
    
    
    <div class="hero-copy">
      
    </div> 
  </div>
</div>
<div class="searchbox">
    <h1>Apartment Search</h1>
    <div class="searchtools">
    <form name="form1" method="post" action="#"> 
      <input name="search_txt" type="text" id="search_txt" placeholder="Name, City, Provine, Zip code" size="25" maxlength="255">
    <select name="province_select" id="bedrooms_select">
      <option>Select: Provine</option>
      <option>Chaingmai</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
      <option>10</option>
    </select>
     <select name="zone_select" id="bathrooms_select">
       <option>Select: Zone</option>
       <option>Khannayao</option>
       <option>3</option>
       <option>4</option>
       <option>5</option>
       <option>6</option>
       <option>7</option>
       <option>8</option>
       <option>9</option>
       <option>10</option>
     </select>
    <input name="tent_max_txt" type="text" id="tent_max_txt" placeholder="Rate" size="6" maxlength="7">
    <input name="search_btn" type="submit" value="Search" id="search_btn">
    </form>
    </div>
  </div>  
<!--Content-->
<div class="maincontent"><!-- TemplateBeginEditable name="EditRegion1" -->EditRegion1<!-- TemplateEndEditable --></div>

<!--Footer-->
<footer class="footer-2">
  <div class="footer-logo">
    <img src="https://raw.github.com/Magnus-G/Random/master/placeholder_logo_1.png" alt="">
  </div>
    <ul>
      <li><a href="javascript:void(0)">About</a></li>
      <li><a href="javascript:void(0)">Contact</a></li>
      <li><a href="javascript:void(0)">Products</a></li>
    </ul>

    <div class="footer-secondary-links">
      <ul>
        <li><a href="javascript:void(0)">Terms and Conditions</a></li>
        <li><a href="javascript:void(0)">Privacy Policy</a></li>
      </ul>

      <ul class="footer-social">
        <li><a href="javascript:void(0)">
          <img src="https://raw.githubusercontent.com/Magnus-G/Random/master/facebook-logo-circle.png" alt="">
          </a></li>
        <li><a href="javascript:void(0)">
          <img src="https://raw.githubusercontent.com/Magnus-G/Random/master/twitter-logo-circle.png" alt="">
        </a></li>
        <li><a href="javascript:void(0)">
          <img src="https://raw.githubusercontent.com/Magnus-G/Random/master/youtube-logo-circle.png" alt="">
        </a></li>
      </ul>
    </div>
</footer>



</body>
<script type="text/javascript" language="javascript" src="../js/quo.js"> </script>
<script type="text/javascript" language="javascript" src="../js/jquery.js"></script>
<script type="text/javascript" language="javascript" src="../js/index.js"> </script>

</html>